<!DOCTYPE html>
<html>
<head>
  <title>Grid Layout | Onimisea</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
  name="description"
  content="A responsive page to demonstrate my grid layout skills"
  />
  <meta name="author" content="Onimisea" />
  <link rel="icon" type="image/x-icon" href="./imgs/favicon-32x32.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
  href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap"
  rel="stylesheet"
  />
  <link href="./css/grid.css" rel="stylesheet" />
</head>

<body>
  <header class="mainHeader">
    <nav>
      <ul>
        <li><a href='index.html'>Flex</a></li>
        |
        <li><a href='grid.html' class='active'>Grid</a></li>
      </ul>
    </nav>
  </header>
 
  <section class="main">
    <section class="item">
      <header>
        <figure>
          <img
          src="./imgs/image-patrick.jpg"
          alt="Patrick"
          title="Patrick"
          class="photo"
          />
        </figure>
        <section class="profile">
          <h2>Patrick Abrams</h2>
          <p>
            Satisfied Student
          </p>
        </section>
      </header>
      <aside>
        <h1>
          Awesome teaching support from TAs who did the bootcamp themselves.
        </h1>
        <p>
          “ I was an EMT for many years before I joined the bootcamp. I’ve been looking to make a transition and have heard. ”
        </p>
      </aside>
    </section>

    <section class="item">
      <header>
        <figure>
          <img
          src="./imgs/image-daniel.jpg"
          alt="Daniel"
          title="Daniel"
          class="photo"
          />
        </figure>
        <section class="profile">
          <h2>Daniel Clifford</h2>
          <p>
            Satisfied Student
          </p>
        </section>
      </header>

      <aside>
        <h1>
          I received a job offer mid-course, and the subjects...
        </h1>
        <p>
          “ The staff seem genuinely concerned about my progress which I find really refreshing. ”
        </p>
      </aside>
    </section>

    <section class="item">
      <header>
        <figure>
          <img
          src="./imgs/image-jeanette.jpg"
          alt="Jeanette"
          title="Jeanette"
          class="photo"
          />
        </figure>
        <section class="profile">
          <h2>Jeanette Harmon</h2>
          <p>
            Satisfied Student
          </p>
        </section>
      </header>

      <aside>
        <h1>An overall wonderful and rewarding experience.</h1>
        <p>
          “ Thank you for the wonderful experience! I now have a job I really enjoy, and make a good living while doing something I love. <br><br> Thank you for the wonderful experience! I now have a job I really enjoy, and make a good living while doing something I love. ”
        </p>
      </aside>
    </section>

    <section class="item">
      <header>
        <figure>
          <img
          src="./imgs/image-kira.jpg"
          alt="Patrick"
          title="Patrick"
          class="photo"
          />
        </figure>
        <section class="profile">
          <h2>Kira Whittle</h2>
          <p>
            Satisfied Student
          </p>
        </section>
      </header>

      <aside>
        <h1>Such a life-changing experience. Highly recommended!</h1>
        <p>
          “ Before joining the bootcamp, I’ve never written a line of code. Now, I can build apps from scratch. ”
        </p>
      </aside>
    </section>

    <section class="item">
      <header>
        <figure>
          <img
          src="./imgs/image-jonathan.jpg"
          alt="Patrick"
          title="Patrick"
          class="photo"
          />
        </figure>
        <section class="profile">
          <h2>Jonathan Walters</h2>
          <p>
            Satisfied Student
          </p>
        </section>
      </header>

      <aside>
        <h1>The team was very supportive and kept me motivated.</h1>
        <p>
          “ I started as a total newbie with virtually no coding skills. I now work as a mobile engineer for a big company. ”
        </p>
      </aside>
    </section>
  </section>

  <footer>
    <p>
      Onimisea | 2022
    </p>
  </footer>
</body>
</html>